
# :Z & :z are used for redhat based distros.
# If the deployment server does not have an SELinux mechanism, remove these characters; otherwise, keep them.

services:
  app:
    build:
      context: .
    restart: always
    volumes:
      - ./app:/app:Z
      - static-data:/vol/web:Z
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
    depends_on:
      - db

  db:
    image: postgres:18
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql:Z
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}

  proxy:
    build:
      context: ./proxy
    restart: always
    depends_on:
      - app
    ports:
      - 80:8000
    volumes:
      - static-data:/vol/static:Z

volumes:
  postgres-data:
  static-data: